<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>&copy; copyright {{ build.timestamp | dateToFormat('yyyy') }}</span>
        <a class="link" href="http://github.com/kv96/uxwiki" target="_blank" rel="noopener">
            {% icon "github" %} UXwiki
        </a>
    </div>
</footer>