---
layout: base
title: About | UXwiki
permalink: /about/
eleventyNavigation:
  key: About
---

<div class="container">
  <h1>About</h1>
  <p class="u-mt2 u-mb1">The user experience field is emerging into a multi-disciplinary domain. Learning new methodologies and concepts increases the chance of encountering new terminologies during the course. It scales the factor of intimidation for UX professionals.</p>
  <p class="u-mt1 u-mb2">We believe UXwiki, our comprehensive glossary of user experience terms and definitions, can provide a brief knowledge for UX professionals and suggest them resources to learn about it in depth.</p>
  <h2>Why we built UXwiki?</h2>
  <p class="u-mt1 u-mb1">We have abundant resources to learn about these UX concepts and methodologies written by well-known professionals and aspirants. It takes time to rate and value these articles and determine a "go-to" source when learning something new or in-depth.</p>
  <p class="u-mt1 u-mb2">To solve this challenge, we decided to build a web glossary, which gives a brief overview of UX terminologies and shows a list of curated articles that will help UXers get rich knowledge and understanding.</p>
  <h2>What powers UXwiki?</h2>
  <p class="u-mt1 u-mb1">One of the nightmares faced while building a website/app is deciding upon the frameworks and technologies to use. The same happened for us, and after much thought and research, we decided to try our hands at the current trend - <a class="link" href="https://jamstack.org/" target="_blank" rel="noopener">JAMstack</a>!</p>
  <p class="u-mt1 u-mb1">We evaluated popular Static Site Generators (SSGs) like <a class="link" href="https://www.gatsbyjs.com/" target="_blank" rel="noopener">GatsbyJS</a>, <a class="link" href="https://jekyllrb.com/" target="_blank" rel="noopener">Jekyll</a>, and <a class="link" href="https://www.11ty.dev/" target="_blank" rel="noopener">Eleventy</a>. We decided upon going with Eleventy, which we found very easy, robust, and developer-friendly with inbuilt support for markdown and powerful templating libraries like Nunjucks.</p>
  <p class="u-mt1 u-mb1">We took full advantage of <a class="link" href="https://twitter.com/mxbck/" target="_blank" rel="noopener">Max Böck</a>’s eleventy starter kit, “<a class="link" href="https://github.com/maxboeck/eleventastic" target="_blank" rel="noopener">Eleventastic</a>”, which had cool packages to improve performance. We are using Github to maintain our <a class="link" href="http://github.com/kv96/uxwiki" target="_blank" rel="noopener">code</a>, NPM to build the website and Netlify to <a class="link" href="https://app.netlify.com/sites/uxwiki/deploys" target="_blank" rel="noopener">host</a>.</p>
  <p class="u-mt1 u-mb2">Currently, the website is in the development stage. We plan to launch this site by the first quarter of 2021 after conducting some user testing to improve and fine-tune the experience while using this site.</p>
<h2>Who maintains UXwiki?</h2>
<p  class="u-mt1 u-mb1">UXwiki was a brain-child of <a class="link" href="https://twitter.com/Mr_KV96" target="_blank" rel="noopener">Karthik Venkataraman</a>, a full-stack designer from India who is passionate about solving problems through design. He collaborated with Lakshmi Narayanan, a content strategist and UX writer from India, to build UXwiki and solve vocabulary inflation challenges in the UX field. You can read the <a class="link" href="https://karthikvenkataraman.in/projects/uxwiki/" target="_blank" rel="noopener">complete story</a> of the thought process behind UXwiki and how it will help UX professionals</p>
<p class="u-mt1 u-mb2">Karthik takes care of the design and development, while Lakshmi Narayanan works on the content.</p>
  <h2>Help us improve UXwiki</h2>
  <p class="u-mt1 u-mb1">UXwiki is a platform where UX professionals and aspirants visit when they need quick help. We intend to build this as a crowdsourced platform where UXers can help each other and extend this into more dimensions.</p>
  <p class="u-mt1 u-mb4">You can contribute to this project by <a class="link" href="https://github.com/kv96/uxwiki/issues/new?template=suggest-a-term.md&title=Term+Suggestion%21" target="_blank" rel="noopener">suggesting new terms</a>, giving us inputs on improving this site, and also by becoming a part of the core team.</p>
</div>